@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-principal: #F3F5FC;
    --cor-azul-destaque: #0A3871;
    --cor-branco-destaque: #FFFFFF;
    --cor-botao-descriptografar: #D8DFE8;

    --fonte-cinza-escuro: #343A40;
    --fonte-cinza-claro: #495057;

    --cor--sombra: rgba(0, 0, 0, 0.08);
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-right: 40px;

    display: flex;
    justify-content: center;
    gap: 80px;

    background-color: var(--cor-principal);
    color: var(--cor-azul-destaque);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.icon__header{
    padding: 20%;
}

.conteudo__entrada{
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}
.conteudo__entrada__campo__input{
    width: 100%;
    height: 65vh;

    border: none;
    outline: none;
    resize: none;

    background-color: var(--cor-principal);
    color: var(--cor-azul-destaque);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
}
.conteudo__entrada__campo__input::placeholder{
    color: var(--cor-azul-destaque);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
}
.conteudo__entrada__envio{
    padding: 32px 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
.conteudo__entrada__envio__aviso{
    display: flex;
    gap: 8px;

    color: var(--fonte-cinza-claro);
    font-size: 12px;
}

.conteudo__entrada__envio__botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.botao__criptografar{
    color: var(--cor-branco-destaque);
    background-color: var(--cor-azul-destaque);
}
.botao__descriptografar{
    color: var(--cor-azul-destaque);
    background-color: var(--cor-botao-descriptografar);
    border: 1px solid var(--cor-azul-destaque);
}

.ajuste__botoes{
    width: 328px;
    padding: 24px;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    border-radius: 24px;
}

.conteudo__saida{
    padding: 32px;
    height: 85vh;
    align-self: center;
    background-color: var(--cor-branco-destaque);
    box-shadow: 0 24px 32px -8px var(--cor--sombra);
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.conteudo__saida__texto{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 16px;
}
.saida__texto__titulo{
    color: var(--fonte-cinza-escuro);
    font-size: 24px;
    font-weight: 700;
}
.saida__texto__explica{
    color: var(--fonte-cinza-claro);
    font-size: 16px;
}