@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --fonte-pagina: "Inter", sans-serif;

    --cor-principal: #F3F5FC;
    --cor-azul-destaque: #0A3871;
    --cor-branco-destaque: #FFFFFF;
    --cor-botao-descriptografar: #D8DFE8;

    --cor-fonte-cinza-escuro: #343A40;
    --cor-fonte-cinza-claro: #495057;

    --cor--sombra: rgba(0, 0, 0, 0.08);

    --tamanho-fonte-input: 2rem; /* 32px */
    --tamanho-fonte-aviso: 0.75rem; /* 12px */
    --tamanho-fonte-botao-explica: 1rem; /* 16px */
    --tamanho-fonte-saida-titulo: 1.5rem; /* 24px */
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-right: 40px;

    display: flex;
    justify-content: center;
    gap: 80px;

    background-color: var(--cor-principal);
    color: var(--cor-azul-destaque);
    font-family: var(--fonte-pagina);
    font-weight: 400;
}

.icon__header{
    padding: 100%;
}

.conteudo__entrada{
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}
.conteudo__entrada__campo__input{
    width: 100%;
    height: 55vh;

    border: none;
    outline: none;
    resize: none;

    background-color: var(--cor-principal);
    color: var(--cor-azul-destaque);
    font-family: var(--fonte-pagina);
    font-size: var(--tamanho-fonte-input);
    font-weight: 400;
}
.conteudo__entrada__campo__input::placeholder{
    color: var(--cor-azul-destaque);
    font-family: var(--fonte-pagina);
    font-size: var(--tamanho-fonte-input);
    font-weight: 400;
}
.conteudo__entrada__envio{
    padding: 32px 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
.conteudo__entrada__envio__aviso{
    display: flex;
    gap: 8px;

    color: var(--cor-fonte-cinza-claro);
    font-size: var(--tamanho-fonte-aviso);
}

.conteudo__entrada__envio__botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.botao__criptografar{
    color: var(--cor-branco-destaque);
    background-color: var(--cor-azul-destaque);
}
.botao__descriptografar{
    color: var(--cor-azul-destaque);
    background-color: var(--cor-botao-descriptografar);
}

.ajuste__botoes{
    width: 328px;
    padding: 24px;

    font-size: var(--tamanho-fonte-botao-explica);
    font-family: var(--fonte-pagina);
    border: 1px solid var(--cor-azul-destaque);
    border-radius: 24px;
    cursor: pointer;
}

.conteudo__saida{
    padding: 32px;
    height: 85vh;
    width: 30%;
    overflow: auto;

    display: flex;
    align-self: center;
    justify-items: center;

    background-color: var(--cor-branco-destaque);
    box-shadow: 0 24px 32px -8px var(--cor--sombra);
    border-radius: 32px;
}

.conteudo__saida__inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.conteudo__saida__inicial__texto{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 16px;
}
.saida__inicial__texto__titulo{
    color: var(--cor-fonte-cinza-escuro);
    font-size: var(--tamanho-fonte-saida-titulo);
    font-weight: 700;
}
.saida__inicial__texto__explica{
    color: var(--cor-fonte-cinza-claro);
    font-size: var(--tamanho-fonte-botao-explica);
}

.conteudo__saida__dados{
    display: none;
    width: 100%;
}
.conteudo__saida__dados__ajuste{
    height: 100%;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.saida__dados__ajuste__texto{
    color: var(--cor-fonte-cinza-claro);
    font-size: var(--tamanho-fonte-saida-titulo);
    font-weight: 400;
}
.saida__dados__ajuste__botaoCopiar{
    width: 100%;

    color: var(--cor-azul-destaque);
    border: 1px solid var(--cor-azul-destaque);
    background: none;
}

@media (max-width: 768px){
    .icon__header, .conteudo__entrada{
        padding: 0 5%;
    }
    body{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding: 5% 0;
    }
    .conteudo__saida{
        width: 85%;
        height: auto;
    }
    .conteudo__saida__inicial{
        width: 100%;
        padding: 32px 0;
    }
    .conteudo__saida__inicial__imagem{
        display: none;
    }
}

@media (max-width: 380px){
    .conteudo__entrada__envio__botoes{
        flex-direction: column;
        align-items: center;
    }
    .conteudo__saida{
        padding: 32px 0;
    }
    .conteudo__saida__inicial{
        width: 100%;
    }
    .conteudo__saida__dados__ajuste{
        width: 80%;
        padding: 0 10%;
    }
}